@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #767676;
  --bg: white;
  --bg-secondary: #f8f9fa;
  --stroke-color: black
}


/* -------------------------Dark Mode Styles-------------------------- */

.dark:root{
  --text-color: #767676;
  --bg: #121212;
  --bg-secondary: black;
  --stroke-color: #767676
}

body{
  background-color: var(--bg);
}

.dark header{
  @apply border-b border-[#76767667] text-white
}

.dark header .toggle{
  @apply text-white
}

.dark .dark-animation, .light-animation{
  @apply block
}

.dark-animation, .dark .light-animation{
  @apply hidden
}

.dark .hero-title{
  color: white;
}

.dark .my-btn{
  @apply hover:bg-white border-white bg-transparent
}

.dark .title-stroke {
  -webkit-text-stroke: 1px #7676763d;
}

.dark .title{
  color: white;
}

.dark .contact-form input, .dark .contact-form textarea{
  @apply bg-transparent text-[var(--text-color)]
}

.dark .divider {
  border-color: #76767694;
}

/* --------------------------Dark Mode Styles-------------------------------- */

* {
  font-family: "Poppins", sans-serif;
}

.my-container {
  @apply w-full xl:w-[1200px] 2xl:w-[1320px] mx-auto
}

.list-item {
  @apply font-semibold text-[15px] hover:text-gray-400 duration-200;
}

.list-item.active {
  @apply text-gray-400;
}

.my-stroke {
  -webkit-text-stroke: 1px var(--stroke-color);
}
.title-stroke {
  -webkit-text-stroke: 1px rgb(235, 235, 235);
}

.sub-heading {
  @apply text-[var(--text-color)] mt-5 xl:mt-8 italic;
}

.scrolled-header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.section-desc {
  @apply text-[var(--text-color)] text-[15px];
  line-height: 2;
}

.my-btn {
  @apply px-8 py-3 bg-black hover:bg-transparent duration-300 hover:text-black text-white border border-black text-base uppercase w-full xl:w-fit;
}

.section {
  @apply py-16 xl:py-24 px-5;
}

.inner-rect-bar.addRectAnimate {
  @apply bg-[#767676] !important;
}
